
.main-footer{
  margin-top: 20rem;
  width: 100%;
  padding: 1rem;
  background-color:var(--primary-color);
  color: var(--btn-primary-text);
  box-sizing: border-box;
  
}

.logo-thinktopia {
  max-width: 11.8rem;
  height: auto;
  flex-shrink: 0;
  
}
.text-footer{
  font-family:var(--font-title-primary); 
  font-size: 0.9rem;
  font-weight: 500;
  flex: 1;
  text-align: center;
}
.icons{
  max-width: 10rem;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  /* .main-footer {
    margin-top: 5rem;
  } */
}