<!-- Versión Desktop -->
<section class="filters-container">
    <div *ngFor="let filter of filters" 
         class="btn-group" 
         [ngClass]="getFilterWidth(filter)">
        
        <!-- Dropdown Simple -->
        <ng-container *ngIf="filter.type === 'dropdown'">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle w-100" 
                    type="button"
                    [attr.data-bs-toggle]="'dropdown'" 
                    [attr.data-bs-display]="'static'"
                    [attr.aria-expanded]="false">
                {{ getSelectedValue(filter.id) || filter.placeholder || filter.label }}
            </button>
            <ul class="dropdown-menu w-100">
                <li *ngFor="let option of filter.options">
                    <!-- Si la opción es un date-picker, mostrar input de fecha -->
                    <ng-container *ngIf="option.value === 'date-picker'">
                        <div class="p-3">
                            <label class="form-label small text-muted mb-2">{{ option.label }}</label>
                            <input type="date" 
                                   class="form-control form-control-sm"
                                   [value]="getSelectedValue(filter.id)"
                                   (change)="onDateChange(filter.id, $event)" />
                        </div>
                    </ng-container>
                    <!-- Opción normal -->
                    <ng-container *ngIf="option.value !== 'date-picker'">
                        <a class="dropdown-item" 
                           href="#" 
                           (click)="$event.preventDefault(); onFilterSelect(filter.id, option.value, 'dropdown')">
                            {{ option.label }}
                        </a>
                    </ng-container>
                </li>
            </ul>
        </ng-container>

        <!-- Multi-Dropdown Complejo -->
        <ng-container *ngIf="filter.type === 'multi-dropdown'">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle w-100" 
                    type="button"
                    [attr.data-bs-toggle]="'dropdown'" 
                    [attr.data-bs-display]="'static'"
                    [attr.aria-expanded]="false">
                {{ filter.placeholder || filter.label }}
            </button>
            <ul class="dropdown-menu w-100">
                <li *ngFor="let option of filter.options" 
                    class="dropdown-submenu">
                    
                    <!-- Si tiene hijos, es un submenu -->
                    <ng-container *ngIf="hasChildren(option)">
                        <a class="dropdown-item dropdown-toggle" href="#" 
                           (click)="$event.preventDefault()">
                            {{ option.label }}
                        </a>
                        <ul class="dropdown-menu w-100">
                            <li *ngFor="let child of option.children">
                                <!-- Input de fecha especial -->
                                <ng-container *ngIf="child.value === 'date-input'">
                                    <div class="p-2">
                                        <input type="date" 
                                               class="form-control form-control-sm"
                                               (change)="onDateChange(filter.id, $event)" />
                                    </div>
                                </ng-container>
                                <!-- Opción normal -->
                                <ng-container *ngIf="child.value !== 'date-input'">
                                    <a class="dropdown-item" 
                                       href="#" 
                                       (click)="$event.preventDefault(); onFilterSelect(filter.id, child.value, 'multi-dropdown')">
                                        {{ child.label }}
                                    </a>
                                </ng-container>
                            </li>
                        </ul>
                    </ng-container>
                    
                    <!-- Si no tiene hijos, es una opción simple -->
                    <ng-container *ngIf="!hasChildren(option)">
                        <a class="dropdown-item" 
                           href="#" 
                           (click)="$event.preventDefault(); onFilterSelect(filter.id, option.value, 'multi-dropdown')">
                            {{ option.label }}
                        </a>
                    </ng-container>
                </li>
            </ul>
        </ng-container>

        <!-- Input de Fecha -->
        <ng-container *ngIf="filter.type === 'date'">
            <input type="date" 
                   class="form-control form-control-sm"
                   [placeholder]="filter.placeholder || filter.label"
                   (change)="onDateChange(filter.id, $event)" />
        </ng-container>

        <!-- Botón de Acción -->
        <ng-container *ngIf="filter.type === 'button'">
            <button [ngClass]="getButtonClass(filter)"
                    type="button"
                    (click)="onButtonClick(filter.id)">
                <img *ngIf="filter.icon" 
                     [src]="filter.icon" 
                     [alt]="filter.label + ' Icon'" 
                     class="me-2" 
                     width="16" 
                     height="16" />
                {{ filter.label }}
            </button>
        </ng-container>
    </div>
</section>

<!-- Versión Móvil -->
<div *ngIf="showMobileVersion" class="mobile-filters px-3">
    <button class="btn btn-primary btn-outline-primary btn-filtros-custom w-100 mb-2" 
            [attr.data-bs-toggle]="'collapse'"
            [attr.data-bs-target]="'#' + mobileCollapseId" 
            [attr.aria-expanded]="false">
        Mostrar filtros
    </button>
    <div class="collapse" [id]="mobileCollapseId">
        <div class="card card-body">
            
            <div *ngFor="let filter of filters" class="mb-3">
                <!-- Dropdown/Multi-dropdown en móvil -->
                <ng-container *ngIf="filter.type === 'dropdown' || filter.type === 'multi-dropdown'">
                    <button class="btn btn-outline-secondary w-100 text-start" 
                            type="button" 
                            [attr.data-bs-toggle]="'collapse'"
                            [attr.data-bs-target]="'#mobile_' + filter.id" 
                            [attr.aria-expanded]="false">
                        {{ filter.label }}
                    </button>
                    <div class="collapse mt-2" [id]="'mobile_' + filter.id">
                        
                        <!-- Para dropdown simple -->
                        <ul *ngIf="filter.type === 'dropdown'" class="list-group list-group-flush">
                            <li *ngFor="let option of filter.options" class="list-group-item">
                                <a href="#" 
                                   class="text-decoration-none"
                                   (click)="$event.preventDefault(); onFilterSelect(filter.id, option.value, 'dropdown')">
                                    {{ option.label }}
                                </a>
                            </li>
                        </ul>
                        
                        <!-- Para multi-dropdown -->
                        <div *ngIf="filter.type === 'multi-dropdown'">
                            <div *ngFor="let option of filter.options">
                                <!-- Si tiene hijos -->
                                <ng-container *ngIf="hasChildren(option)">
                                    <div class="mb-2">
                                        <strong class="d-block mb-1">{{ option.label }}</strong>
                                        <ul class="list-group list-group-flush">
                                            <li *ngFor="let child of option.children" class="list-group-item">
                                                <!-- Input de fecha -->
                                                <ng-container *ngIf="child.value === 'date-input'">
                                                    <input type="date" 
                                                           class="form-control form-control-sm"
                                                           (change)="onDateChange(filter.id, $event)" />
                                                </ng-container>
                                                <!-- Opción normal -->
                                                <ng-container *ngIf="child.value !== 'date-input'">
                                                    <a href="#" 
                                                       class="text-decoration-none"
                                                       (click)="$event.preventDefault(); onFilterSelect(filter.id, child.value, 'multi-dropdown')">
                                                        {{ child.label }}
                                                    </a>
                                                </ng-container>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>
                                
                                <!-- Si no tiene hijos -->
                                <ng-container *ngIf="!hasChildren(option)">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <a href="#" 
                                               class="text-decoration-none"
                                               (click)="$event.preventDefault(); onFilterSelect(filter.id, option.value, 'multi-dropdown')">
                                                {{ option.label }}
                                            </a>
                                        </li>
                                    </ul>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- Input de fecha en móvil -->
                <ng-container *ngIf="filter.type === 'date'">
                    <label class="form-label">{{ filter.label }}</label>
                    <input type="date" 
                           class="form-control form-control-sm"
                           (change)="onDateChange(filter.id, $event)" />
                </ng-container>
            </div>

            <!-- Botones de acción en móvil -->
            <div *ngFor="let filter of filters">
                <ng-container *ngIf="filter.type === 'button'">
                    <button [ngClass]="getButtonClass(filter)" 
                            (click)="onButtonClick(filter.id)">
                        <img *ngIf="filter.icon" 
                             [src]="filter.icon" 
                             [alt]="filter.label + ' Icon'" 
                             class="me-2" 
                             width="16" 
                             height="16" />
                        {{ filter.label }}
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>