
.tabla-asistencias {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1rem 0rem;
}
.tabla-asistencia{
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
}
.asistencia-title{
  color: var(--color-secundary);
  text-align: center;
  font-size: 1.9em;
  font-family: var(--font-title-primary);
}

.asistencia-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-section{
   display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
.form-control, .form-select {
  font-family: var(--font-paragraph);
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  width: 25%;
  padding: 0.5rem 0.75rem;
  background-color: #fff;
  color: var(--text-color);
  transition: border-color 0.2s;
}

.form-control:focus, .form-select:focus {
  border-color: var(--primary-color);
  outline: none;
}
.filtro-text {
  font-family: var(--font-paragraph);
  font-size: 1.1rem;
}
.button-asistencia {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  font-family: var(--font-title-secondary);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
}
.subtitle-asistencia {
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: center;
  margin: 1em;
  font-family: var(--font-title-secondary);
  font-weight: bold;
}

/* ==== COMPONENTE TABLA ==== */
.table-responsive {
  border-radius: 10px;
  margin-top: 5rem;
  width: 100%;
  padding:1rem;
  overflow-y: auto;
}

.table {
  width: 100%;
  overflow-y: auto;
}

.contenido{
  background-color:var(--primary-color);
  color: var(--bg-secondary-color);
  font-family: var(--font-title-primary);
  text-align: center;
  font-size: 1.3rem;
}

.encabezado{
  font-family: var(--font-title-secondary);
  font-size: 1.1rem;
  font-weight: 700;
}

.table tbody tr {
  background-color: var(--background-color);
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.text{
  color: var(--text-color);
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
}
.btn-primary {
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s ease;
  margin: 0 auto;
  color: white;
  font-family: var(--font-title-primary);
  font-weight: 700;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: var(--btn-secondary-bg);
  color: white;
  border-color: var(--secondary-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.centrar-boton {
  display: flex;
  justify-content: center;
}
/*MEDIAS QUERIES */
@media (max-width: 768px) {
  .contenido{
    font-size: 1.1rem;
  }
  .table td {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
  .text{
    font-size: 1rem;
  }
  .btn-primary {
    padding: 0.4rem 0.75rem;
    font-size: 0.875rem;
  }
}


