<div class="login-container">

  <a routerLink="/main/inicio" class="logo">
    <img src="img/logo_oscuro_horizontal_1.png" alt="Thinktopia Logo" />
  </a>

  <div class="form-container">
    <h2 class="form-title">Iniciar sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email" class="form-label">Correo electrónico</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-envelope"></i>
          </span>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Ingrese su correo electrónico"
            formControlName="email"
          />
        </div>
        
        <!-- Convertido a @if -->
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <div class="text-danger">
            Email inválido
          </div>
        }
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Ingrese su contraseña"
            formControlName="password"
          />
          <button
            type="button"
            class="btn btn-outline-secondary toggle-password"
            aria-label="Mostrar/Ocultar contraseña"
          >
            <i class="fas fa-eye-slash"></i>
          </button>
        </div>
        <!-- Convertido a @if -->
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <div class="text-danger">
            Contraseña requerida
          </div>
        }
      </div>

      <!-- Bloque para mostrar el error de login -->
      @if (errorMessage) {
        <div class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      }

      <button class="btn-primary" type="submit" [disabled]="loginForm.invalid">
        Iniciar sesión
      </button>
    </form>

    <div class="form-link-container">
      <a routerLink="/recuperar" class="form-link">Recuperar contraseña</a>
      <a routerLink="/auth/register" class="form-link">¿No tienes una cuenta?</a>
    </div>
  </div>
  
</div>