<header class="header">
  <a routerLink="/main/inicio" class="nav-link-logo">
    <img class="logo" src="img/logo_oscuro_horizontal_1.png" alt="" />
  </a>
  <button class="hamburger" (click)="toggleMenu()" aria-label="Abrir menú">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav class="nav" [class.open]="menuOpen" >
    <ul class="nav justify-content-center">

      <li class="nav-item">
        <a routerLink="dashboard" class="nav-link" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="actividades" class="nav-link" routerLinkActive="active">Actividades</a>
      </li>
      <li class="nav-item">
        <a routerLink="asistencias" class="nav-link" routerLinkActive="active">Asistencias</a>
      </li>
      <li class="nav-item">
        <a routerLink="reportes" class="nav-link" routerLinkActive="active">Reportes</a>
      </li>
      <li>
        <a routerLink="gestion-contenido" class="nav-link" routerLinkActive="active">Gestion Contenido</a> 
      </li>
    </ul>
  </nav>
</header>




